.link {
  span {
    transition: all 333ms ease;
  }
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

.link-accent {
  color: var(--black-40);
  span {
    color: var(--accent);
  }
}

.link-common {
  color: var(--dark);
  span {
    color: var(--black-40);
  }
}
